<footer class="rn-footer">
    <div class="rn-footer-container">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-semibold">Relaynet</p>
                <ul>
                    <li><a href="{% link users.md %}">Users</a></li>
                    <li><a href="{% link service-providers.md %}">Service providers</a></li>
                    <li><a href="{% link couriers.md %}">Couriers</a></li>
                    <li><a href="{% link blog.html %}">Blog</a></li>
                    <li><a href="{% link about.md %}">About</a></li>
                    <li><a href="{% link legal/index.md %}">Legal</a></li>
                    <li>
                        <a href="https://github.com/relaynet" title="Relaynet on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://twitter.com/relaynet_" title="Relaynet on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/relaynet" title="Relaynet on Facebook" class="icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCo-KmDc5Cem1n-6yxYBRmNw" title="Relaynet on YouTube"
                           class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <p class="has-text-weight-semibold">Community</p>
                <ul>
                    <li><a href="https://community.relaynet.network/">Forum</a></li>
                    <li><a href="{% link contributions/index.md %}">How to contribute</a></li>
                    <li><a href="https://github.com/search?q=topic%3Arelaynet+org%3Arelaycorp">Reference implementations</a></li>
                    <li><a href="https://specs.relaynet.network/">Protocol suite specs</a></li>
                    <li><a href="https://github.com/relaycorp/.github/blob/master/CODE_OF_CONDUCT.md">Code of
                        conduct</a></li>
                </ul>
            </div>

            <div class="column"></div>

            <div class="column">
                <p class="has-text-weight-semibold">Relaycorp</p>
                <ul>
                    <li><a href="https://relaycorp.tech">Contact us</a></li>
                    <li><a href="https://github.com/relaycorp/cloud-gateway">Gateway infrastructure</a></li>
                    <li><a href="https://github.com/relaycorp/.github/blob/master/SECURITY.md">Security policy</a></li>
                    <li>
                        <a
                            href="https://letro.app/en/"
                            title="Like email, but end-to-end encrypted, spam-free, phishing-free and works without the Internet too"
                        >Letro</a>
                    </li>
                    <li>
                        <a href="https://github.com/relaycorp" title="Relaycorp on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://twitter.com/RelaycorpHQ" title="Relaycorp on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content has-text-centered">
            <p>
                Copyright 2019-2021 by <a href="https://relaycorp.tech">Relaycorp</a>.
            </p>
        </div>
    </div>
</footer>
