<footer class="rn-footer">
    <div class="rn-footer-container">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-semibold">Awala</p>
                <ul>
                    <li><a href="{% link users/index.md %}">Users</a></li>
                    <li><a href="{% link service-providers/index.md %}">Service providers</a></li>
                    <li><a href="{% link couriers.md %}">Couriers</a></li>
                    <li><a href="{% link blog.html %}">Blog</a></li>
                    <li><a href="{% link about.md %}">About</a></li>
                    <li><a href="{% link legal/index.md %}">Legal</a></li>
                    <li>
                        <a href="https://twitter.com/AwalaNetwork" title="Awala on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/AwalaNetwork" title="Awala on Facebook" class="icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCo-KmDc5Cem1n-6yxYBRmNw" title="Awala on YouTube"
                           class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://github.com/AwalaNetwork" title="Awala on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <p class="has-text-weight-semibold">Community</p>
                <ul>
                    <li><a href="{% link community.md %}">Connect</a></li>
                    <li><a href="{% link contributions/index.md %}">How to contribute</a></li>
                    <li><a href="https://github.com/search?q=topic%3Aawala+org%3Arelaycorp">Reference implementations</a></li>
                    <li><a href="https://specs.awala.network/">Protocol suite specs</a></li>
                    <li><a href="https://github.com/relaycorp/.github/blob/master/CODE_OF_CONDUCT.md">Code of
                        conduct</a></li>
                    <li><a href="{% link way.md %}">The Awala Way</a></li>
                </ul>
            </div>

            <div class="column"></div>

            <div class="column">
                <p class="has-text-weight-semibold">Relaycorp</p>
                <ul>
                    <li><a href="https://relaycorp.tech">Contact us</a></li>
                    <li><a href="https://github.com/relaycorp/cloud-gateway">Gateway infrastructure</a></li>
                    <li><a href="https://github.com/relaycorp/.github/blob/master/SECURITY.md">Security policy</a></li>
                    <li>
                        <a
                            href="https://letro.app/en/"
                            title="Like email, but end-to-end encrypted, spam-free, phishing-free and works without the Internet too"
                        >Letro</a>
                    </li>
                    <li>
                        <a
                            href="https://veraid.net"
                            title="Offline authentication based on DNS"
                        >VeraId</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/RelaycorpHQ" title="Relaycorp on Twitter" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/relaycorp" title="Relaycorp on GitHub" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rn-footer-legal">
            <p>
                Copyright 2019-2023 by <a href="https://relaycorp.tech">Relaycorp</a>.
                Awala® is a registered trademark of Relaycorp.
                <a href="{% link legal/index.md %}">Read legal policies</a>.
            </p>
        </div>
    </div>
</footer>
