<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"
            integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA=="
            crossorigin="anonymous"
    />
    <script defer src="https://kit.fontawesome.com/f4f22c795b.js" crossorigin="anonymous"></script>

    <script>
        <!-- Highlight the current navigation item -->
        document.addEventListener('DOMContentLoaded', () => {
            (function () {
                const currentUrl = location.pathname;
                const menuItems = document.querySelectorAll('.navbar-menu a');
                for (let i = 0, len = menuItems.length; i < len; i++) {
                    if (menuItems[i].getAttribute("href") === currentUrl) {
                        menuItems[i].classList.add("is-active");
                    }
                }
            })();
        })
    </script>
</head>
