<section class="container box mx-6 is-size-6">
    <h2>Get important updates in your inbox</h2>

    <div>
        <form
                action="https://tech.us18.list-manage.com/subscribe/post?u=64c7889aa5e76799fa98a8175&amp;id=1a4de7a050"
                class="validate"
                method="post"
                name="mc-embedded-subscribe-form"
                target="_blank"
        >
            <div class="field">
                <label class="label" for="mce-EMAIL">What's your email address?</label>
                <div class="control has-icons-left">
                    <input class="input" id="mce-EMAIL" name="EMAIL" type="email" placeholder="you@example.com" required>
                    <span class="icon is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <p class="label">What do you want to hear about?</p>

                <div class="control columns">
                    <label class="checkbox column" for="mce-group[7424]-7424-0">
                        <input id="mce-group[7424]-7424-0" name="group[7424][1]" type="checkbox" value="1"
                               {% if include.group == "users" %}checked="checked"{% endif %}
                        >
                        Using Relaynet
                    </label>
                    <label class="checkbox column" for="mce-group[7424]-7424-1">
                        <input id="mce-group[7424]-7424-1" name="group[7424][2]" type="checkbox" value="2"
                               {% if include.group == "service_providers" %}checked="checked"{% endif %}
                        >
                        Building Relaynet-compatible apps
                    </label>
                    <label class="checkbox column" for="mce-group[7424]-7424-2">
                        <input id="mce-group[7424]-7424-2" name="group[7424][4]" type="checkbox" value="4"
                               {% if include.group == "couriers" %}checked="checked"{% endif %}
                        >
                        Becoming a courier
                    </label>
                    <label class="checkbox column" for="mce-group[7424]-7424-3">
                        <input id="mce-group[7424]-7424-3" name="group[7424][8]" type="checkbox" value="8"
                               {% if include.group == "contributors" %}checked="checked"{% endif %}>
                        Contributing to the project
                    </label>
                </div>
            </div>

            <div class="field">
                <p class="label">Do you agree to receive emails from Relaycorp?</p>

                <label for="gdpr_88524">
                    <input class="av-checkbox gdpr" id="gdpr_88524" name="gdpr[88524]" type="checkbox" value="Y" required>
                    I understand <a href="{% link legal/index.md %}">Relaycorp's policies</a> and authorize them to send
                    me emails about Relaynet.
                </label>
                <div class="help">
                    <p>
                        You can unsubscribe at any time. We won't share your data with third parties other than Mailchimp,
                        which we use as our marketing platform. By subscribing, you also acknowledge that your information
                        will be transferred to Mailchimp for processing, where it will be subject to
                        <a href="https://mailchimp.com/legal/" target="_blank">their policies</a>.
                    </p>
                </div>
            </div>

            <div class="clear" id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input
                    name="b_64c7889aa5e76799fa98a8175_1a4de7a050"
                    tabindex="-1"
                    type="text" value=""></div>
            <div class="buttons is-centered">
                <input class="button is-primary" name="subscribe" type="submit" value="Subscribe">
            </div>
        </form>
    </div>
</section>
