---
---
@charset "utf-8";

// Bulma overrides

$light: hsl(0, 0%, 21%);

$navbar-item-hover-color: $light;

$footer-padding: 3rem 1.5rem;

@import "node_modules/bulma/bulma.sass";

// Top navigation

.navbar-brand .navbar-item {
  @extend .pl-0;
}
.navbar a.is-active:link, .navbar a.is-active:visited {
  font-weight: 500;
}

// Breadcrumbs

nav.breadcrumb {
  @extend .mb-0;
}
nav.breadcrumb ul {
  @extend .m-0;
}
nav.breadcrumb li {
  @extend .mt-0;
}

// Main content of page

.rn-main {
  @extend .section;
  @extend .content;
  @extend .container;
  @extend .is-size-5;
  @extend .px-5;
}
.rn-main > * {
  @extend .mx-0;
  @extend .px-0;
}

// Footer

.rn-footer {
  @extend .footer;
}
.rn-footer-container {
  @extend .container;
  @extend .is-max-desktop;
}

// Homepage

.rn-homepage-hero {
  @extend .section;
  @extend .content;
  @extend .mb-0;

  ul {
    @extend .mx-0;
    @extend .my-0;

    li {
      display: block;
      @extend .icon-text;

      .icon {
        @extend .mr-1;
        @extend .has-text-success;
      }
    }
  }
}

.rn-homepage-stakeholders {
  @extend .section;
  @extend .content;
  @extend .columns;
  @extend .is-variable;
  @extend .is-8;
  @extend .mb-0;

  .rn-stakeholder {
    @extend .column;

    h2 {
      @extend .title;
      @extend .has-text-centered;
      @extend .is-size-3;
    }

    p {
      @extend .has-text-justified;
    }

    .buttons {
      @extend .is-centered;

      a {
        @extend .button;
        @extend .is-link;

        .fas {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// Blog

.rn-blog-post {
  @extend .section;
  @extend .content;
}
.rn-blog-post .date {
  @extend .is-size-7;
  @extend .has-text-weight-light;
  @extend .mb-2;
}
.rn-blog-post .title {
  @extend .is-size-2;
  @extend .mt-0;
  @extend .mb-2;
}
.rn-blog-post .authorship {
  @extend .is-size-6;
  @extend .has-text-weight-light;
  @extend .mb-6;
}
article.rn-blog-post .authorship {
  @extend .mb-6
}
section.rn-blog-post {
  @extend .px-0;
}

// Other widgets

.rl-youtube-video {
  @extend .image;
  @extend .is-16by9;
}
.rl-youtube-video iframe {
  @extend .has-ratio;
}
