---
import { z } from "astro:content";

import Skeleton from "./Skeleton.astro";
import Footer from "../components/Footer.astro";
import TopNav from "../components/TopNav.astro";

const schema = z.object({
  title: z.string(),
  description: z.string(),
});

const { title, description } = schema.parse(Astro.props.frontmatter);
---

<Skeleton title={title} description={description}>
  <TopNav />
  <main>
    <slot />
  </main>
  <Footer />
</Skeleton>
