---
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale!;
---

<nav>
  <ul>
    <li>
      <a href={getRelativeLocaleUrl(locale, "/")}>Home</a>
    </li>
    <li>
      <a href={getRelativeLocaleUrl(locale, "/network")}>Network</a>
    </li>
    <li>
      <a href={getRelativeLocaleUrl(locale, "/vpn")}>VPN</a>
    </li>
  </ul>
</nav>
