---
layout: base
---

{% assign author = site.data.authors[page.author] %}

<article class="rn-blog-post">
    <p class="date">{{ page.date | date: "%-d %B %Y"}}</p>

    <h1 class="title">{{ page.title }}</h1>

    <p class="authorship">
        By {{ author.name }} ({{ author.title }}).
    </p>

    {{ content }}

    <div class="rn-author-bio">
        <p class="rn-author-bio-header">About the author</p>
        <div class="rn-author-bio-content">
            <figure>
                <img src="{{ page.author | prepend: '/assets/images/authors/' | append: '.png' | relative_url }}">
            </figure>
            <div>
                <p>{{ author.bio | escape }}</p>
                <ul class="icon">
                    <li>
                        {% if author.externalUrls.twitterHandle -%}
                            <a
                                href="https://twitter.com/{{ author.externalUrls.twitterHandle }}"
                                title="{{ author.name }} on Twitter"
                                class="icon"
                            >
                                <i class="fab fa-twitter"></i>
                            </a>
                        {% endif %}
                        {% if author.externalUrls.linkedinHandle -%}
                            <a
                                href="https://www.linkedin.com/in/{{ author.externalUrls.linkedinHandle }}/"
                                title="{{ author.name }} on LinkedIn"
                                class="icon"
                            >
                                <i class="fab fa-linkedin"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
