<!DOCTYPE html>
<html lang="en">
    {%- include head.html -%}
<body>
    <div class="notification is-primary is-light">
        <div class="container">
            <p class="has-text-centered">
                <strong>New!</strong>
                <a href="https://awala.alitu.com" class="has-text-weight-bold" target="_blank">Listen to the <em>Inside Awala</em> podcast</a>
                to get a backstage pass to the project.
            </p>
        </div>
    </div>
    {%- include navigation.html -%}

    {{ content }}

    {%- include footer.html -%}
</body>
</html>
