---
import Layout from '../layouts/Layout.astro';
import Card from '../components/HomepageLanguageCard.astro';
---

<Layout title="Awala">
	<main>
		<h1><span class="text-gradient">Awala</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				locale="en"
				title="Go to the English website"
				body="Learn how Awala can keep you connected — no matter what."
			/>
			<Card
				locale="zh-cn"
				title="前往中文版网站"
				body="了解Awala如何确保您始终保持连接，无论发生什么"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
